@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 420px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 360px) {
  html {
    font-size: 45%;
  }
}

body {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body,
h1 {
  font-family: "Poppins", sans-serif;
}

.title {
  font-family: "Poppins", sans-serif;
}
.title__section {
  font-size: 4.4rem;
  font-weight: bold;
}
.title__paragraph {
  font-size: 1.8rem;
  font-weight: bold;
}

p {
  font-size: 1.4rem;
  font-weight: normal;
}

a {
  font-size: 1.8rem;
  text-decoration: none;
}
a:hover, a:active, a:visited {
  color: inherit;
}

.links {
  font-size: 1.8rem;
}

.fbtn {
  font-size: 1.8rem;
}
.fbtn--subscribe {
  padding: 0.7rem 0.7rem 0.8rem;
  border-radius: 1.2rem;
  font-weight: bold;
  background-color: #8bc53f;
  color: #fff;
  transition: all 0.2s ease-in;
}
.fbtn--subscribe:hover {
  background-color: #7eb436;
}
@media only screen and (max-width: 991px) {
  .fbtn--subscribe {
    display: none;
  }
}
.fbtn:visited, .fbtn:hover, .fbtn:active {
  color: #fff;
}

.fbtn-main {
  padding: 0.9rem 3.8rem;
  border-radius: 3.2rem;
  font-size: 4.4rem;
  font-weight: 700;
  background-color: #8bc53f;
  color: #fff;
}
.fbtn-main:visited, .fbtn-main:hover, .fbtn-main:active {
  color: #fff;
}
@media only screen and (max-width: 1366px) {
  .fbtn-main {
    padding: 0.5rem 3rem;
    font-size: 4rem;
  }
}

.search-form {
  font-size: 1.8rem;
  width: 65rem;
}
@media only screen and (max-width: 767px) {
  .search-form {
    width: 50rem;
  }
}
@media only screen and (max-width: 576px) {
  .search-form {
    width: 40rem;
  }
}
@media only screen and (max-width: 420px) {
  .search-form {
    width: 30rem;
  }
}
.search-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #037f2f;
  padding: 0.7rem 1.4rem 0.8rem 1.1rem;
  border: 2px solid #8bc53f;
  border-radius: 0.8rem;
  color: #fff;
}
@media only screen and (max-width: 420px) {
  .search-form__btn {
    display: none;
  }
}
.search-form__btn .dropdown-menu {
  display: none;
}
.search-form__btn::after {
  display: none;
  margin-right: 5px;
}
.search-form__input {
  border: 2px solid #8bc53f;
  border-right: none;
  transition: all 0.2s ease-in;
  flex: 1 1;
}
.search-form__input:focus {
  outline: none;
  box-shadow: none;
  border-color: #0db04b;
}
.search-form__input::placeholder {
  font-size: 1.8rem;
  color: #c8c8c8;
  padding: 7px 7px 2.2rem;
}
@media only screen and (max-width: 420px) {
  .search-form__input {
    border-top-left-radius: 0.8rem !important;
    border-bottom-left-radius: 0.8rem !important;
  }
}
.search-form__search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  background-color: #8bc53f;
  border: none;
  border-radius: 0 0.8rem 0.8rem 0;
  outline: none;
  box-shadow: none;
  transition: all 0.2s ease-in;
}
.search-form__search:hover {
  background-color: #7eb436;
}

.cat-card {
  display: grid;
  place-items: center;
}
.cat-card__img {
  max-width: 15rem;
  margin-inline: auto;
  margin-bottom: 1.9rem;
  transition: all 0.2s ease-in;
}
@media only screen and (max-width: 1199px) {
  .cat-card__img {
    max-width: 12rem;
  }
}
@media only screen and (max-width: 567px) {
  .cat-card__img {
    max-width: 10rem;
  }
}
.cat-card__title {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}
@media only screen and (max-width: 1199px) {
  .cat-card__title {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 567px) {
  .cat-card__title {
    font-size: 1.4rem;
  }
}
.cat-card:hover img {
  transform: scale(1.05);
}

.cat-slider .slick-list {
  width: 100%;
  overflow: visible;
}
.cat-slider .slick-list .slick-track {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cat-slider a {
  color: initial;
}

.featured-slider,
.best-slider {
  margin-bottom: 2.5rem;
  position: relative;
}
.featured-slider .slick-list,
.best-slider .slick-list {
  width: 100%;
}
.featured-slider .slick-track,
.best-slider .slick-track {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.featured-slider a,
.best-slider a {
  color: initial;
}
.featured-slider .slick-disabled,
.best-slider .slick-disabled {
  opacity: 0;
  pointer-events: none;
}
.featured-slider .slick-prev, .featured-slider .slick-next,
.best-slider .slick-prev,
.best-slider .slick-next {
  z-index: 9;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: grid;
  place-items: center;
  pointer-events: visible;
  visibility: visible;
}
@media only screen and (max-width: 1024px) {
  .featured-slider .slick-prev, .featured-slider .slick-next,
  .best-slider .slick-prev,
  .best-slider .slick-next {
    width: 5rem;
    height: 5rem;
  }
}
.featured-slider .slick-prev:hover, .featured-slider .slick-next:hover,
.best-slider .slick-prev:hover,
.best-slider .slick-next:hover {
  cursor: pointer;
}
.featured-slider .slick-prev,
.best-slider .slick-prev {
  z-index: 9;
  left: -72px;
}
@media only screen and (max-width: 1024px) {
  .featured-slider .slick-prev,
  .best-slider .slick-prev {
    top: -50px;
    left: 0;
  }
}
.featured-slider .slick-next,
.best-slider .slick-next {
  right: -60px;
}
@media only screen and (max-width: 1366px) {
  .featured-slider .slick-next,
  .best-slider .slick-next {
    right: -10px;
  }
}
@media only screen and (max-width: 1024px) {
  .featured-slider .slick-next,
  .best-slider .slick-next {
    right: -30px;
  }
}
@media only screen and (max-width: 1024px) and (max-width: 1024px) {
  .featured-slider .slick-next,
  .best-slider .slick-next {
    top: -50px;
    right: 0;
  }
}
.featured-slider .slick-slide,
.best-slider .slick-slide {
  margin-right: 24px;
  padding-bottom: 7px;
}

.product {
  border-radius: 2.4rem;
  position: relative;
  max-width: 31.2rem;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 1024px) {
  .product {
    width: 30rem;
  }
}
.product__img {
  max-width: 100%;
}
.product__info {
  padding: 3px 2.4rem 2rem 2.4rem;
}
.product__name {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}
.product__cat {
  margin-bottom: 1.3rem;
  text-align: center;
  font-size: 1.4rem;
}
@media only screen and (max-width: 576px) {
  .product__cat {
    margin-bottom: 7px;
  }
}
.product__weight {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.8rem;
}
@media only screen and (max-width: 767px) {
  .product__weight {
    margin-bottom: 2.5rem;
  }
}
@media only screen and (max-width: 576px) {
  .product__weight {
    margin-bottom: 30px;
  }
}
.product__count-container {
  position: relative;
  background-color: #333333;
  max-width: 100%;
  max-width: 11.4rem;
  height: 32px;
  border-radius: 2.4rem;
  background-color: #333333;
}
@media only screen and (max-width: 767px) {
  .product__count-container {
    max-width: 8rem;
    height: 20px;
  }
}
.product__count {
  width: 100%;
  padding: 3px 0 2px;
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  font-size: 1.8rem;
  text-align: center;
  color: #fff;
  background-color: #333333;
  border-radius: 2.4rem;
}
.product__count::-webkit-inner-spin-button, .product__count::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.product__count:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
@media only screen and (max-width: 767px) {
  .product__count {
    height: 20px;
    font-size: 15px;
  }
}
.product__add, .product__remove {
  position: absolute;
  top: 0;
  z-index: 9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #8bc53f;
  font-size: 2.4rem;
  color: #1c1b1f;
  transition: all 0.2s ease-in;
}
@media only screen and (max-width: 768px) {
  .product__add, .product__remove {
    width: 20px;
    height: 20px;
    font-size: 15px;
  }
}
.product__add:hover, .product__remove:hover {
  background-color: #7eb436;
}
.product__add {
  right: 0;
}
.product__remove {
  left: 0;
}
.product__equal-icon {
  margin: 0 1.8rem;
}
.product__price-container {
  position: relative;
  text-align: center;
}
.product__price-original {
  position: absolute;
  bottom: 100%;
  width: 100%;
  font-size: 1.4rem;
  text-decoration: line-through;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .product__price-original {
    font-size: 14px;
  }
}
.product__price-current {
  font-size: 1.8rem;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .product__price-current {
    font-size: 14px;
  }
}
.product__cta {
  margin-top: 2rem;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .product__cta {
    flex-direction: column;
    gap: 1.5rem;
  }
}
.product__add-btn, .product__buy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  font-size: 1.4rem;
  font-weight: bold;
  transition: background-color 0.2s ease-in;
}
.product__add-btn {
  background-color: #8bc53f;
  padding: 5px 2.2rem 6px;
}
.product__add-btn:hover, .product__add-btn:active, .product__add-btn:visited {
  color: #fff;
}
.product__add-btn:hover {
  background-color: #7eb436;
}
.product__buy-btn {
  background-color: #ffa51e;
  padding: 5px 3.1rem 6px 3.2rem;
}
.product__buy-btn:hover, .product__buy-btn:active, .product__buy-btn:visited {
  color: #fff;
}
.product__buy-btn:hover {
  background-color: #ff9b05;
}
.product__discount {
  position: absolute;
  top: 4.1rem;
  left: 0;
  height: 32px;
  display: inline-flex;
  align-items: center;
  padding: 0 1.6rem;
  border-radius: 0 12px 12px 0;
  background-color: #037f2f;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
}
.product__hotel-class {
  position: absolute;
  top: 4.1rem;
  right: 0;
  height: 32px;
  display: inline-flex;
  align-items: center;
  padding: 0 1.6rem;
  border-radius: 12px 0 0 12px;
  background-color: #037f2f;
}
.product__hotel-class--starred svg path {
  fill: #ffa51e;
}
.product--featured {
  background-color: #037f2f;
}
.product--featured .product__name, .product--featured .product__cat, .product--featured .product__weight, .product--featured .product__price-container {
  color: #fff;
}

.why-card {
  min-height: 32rem;
  background-color: #037f2f;
  border-radius: 2.4rem;
  padding: 17px 12px 10px 12px;
  color: #fff;
  display: grid;
  place-items: center;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .why-card {
    min-height: 34.1rem;
  }
}
.why-card__img {
  margin-bottom: 17px;
}
.why-card__title {
  margin-bottom: 11px;
  font-size: 1.8rem;
  font-weight: bold;
}
.why-card__para {
  font-size: 1.8rem;
}

.main {
  background-image: linear-gradient(to right, rgba(3, 127, 47, 0.3), rgba(3, 127, 47, 0.3)), url("../images/home-hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  text-align: center;
  padding-top: 12rem;
  padding-bottom: 6.8rem;
}
@media only screen and (max-width: 1024px) {
  .main {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media only screen and (max-width: 576px) {
  .main {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.main__title {
  font-size: 5.4rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 13px;
}
.main__para {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 8rem;
}

.category {
  padding-top: 3.2rem;
  padding-bottom: 2.4rem;
}
.category__title {
  margin-bottom: 2.4rem;
}

.featured__title {
  margin-bottom: 1.5rem;
}
.featured .product {
  max-width: 312px;
}

.header-top {
  padding: 0.3rem 0;
  background-color: #0db04b;
  color: #fff;
  font-size: 1.4rem;
}
.header-top .inner {
  display: flex;
  justify-content: space-between;
}
.header-top__link {
  color: #fff;
  font-size: 1.4rem;
}

.header-searchbar {
  padding: 3px 0;
}
@media only screen and (max-width: 1199px) {
  .header-searchbar__signin span {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .header-searchbar__signin img {
    display: none;
  }
}
.header-searchbar__cart {
  position: relative;
}
.header-searchbar__cart span {
  position: absolute;
  top: -5px;
  left: 50%;
  width: 17px;
  height: 17px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #8bc53f;
  font-size: 9px;
  font-weight: bold;
  color: #fff;
}

.header-menu {
  padding: 3px 0;
  background-color: #333333;
  color: #fff;
}
.header-menu ul,
.header-menu li,
.header-menu a {
  color: #fff;
}
.header-menu__main {
  display: flex;
}
.header-menu__main > :not(:last-child) {
  margin-right: 4.4rem;
}
@media only screen and (max-width: 420px) {
  .header-menu__main > :not(:last-child) {
    margin-right: 2rem;
  }
}
.header-menu__toggler {
  margin-right: 4px;
}
.header-menu__has-sub {
  position: relative;
  display: flex;
  align-items: center;
}
.header-menu__sub {
  z-index: 9;
  position: absolute;
  display: inline-block;
  top: calc(100% + 3px);
  left: 0;
  min-width: 100%;
  padding: 3px 7px;
  border-radius: 0 0 1rem 1rem;
  background-color: #333333;
  font-size: 1.8rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.header-menu__sub li {
  padding: 3px;
}
