@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 420px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 360px) {
  html {
    font-size: 45%;
  }
}

body {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body, h1 {
  font-family: "Poppins", sans-serif;
}

.title {
  font-family: "Poppins", sans-serif;
}
.title__section {
  font-size: 4.4rem;
  font-weight: bold;
}
.title__paragraph {
  font-size: 1.8rem;
  font-weight: bold;
}

p {
  font-size: 1.4rem;
  font-weight: normal;
}

a {
  font-size: 1.8rem;
  text-decoration: none;
}
a:hover, a:active, a:visited {
  color: inherit;
}

.links {
  font-size: 1.8rem;
}

.fbtn {
  font-size: 1.8rem;
}
.fbtn--subscribe {
  padding: 0.7rem 0.7rem 0.8rem;
  border-radius: 1.2rem;
  font-weight: bold;
  background-color: #8bc53f;
  color: #fff;
  transition: all 0.2s ease-in;
}
.fbtn--subscribe:hover {
  background-color: #7eb436;
}
@media only screen and (max-width: 991px) {
  .fbtn--subscribe {
    display: none;
  }
}
.fbtn:visited, .fbtn:hover, .fbtn:active {
  color: #fff;
}

.fbtn-main {
  padding: 0.9rem 3.8rem;
  border-radius: 3.2rem;
  font-size: 4.4rem;
  font-weight: 700;
  background-color: #8bc53f;
  color: #fff;
}
.fbtn-main:visited, .fbtn-main:hover, .fbtn-main:active {
  color: #fff;
}

.search-form {
  font-size: 1.8rem;
  width: 65rem;
}
@media only screen and (max-width: 767px) {
  .search-form {
    width: 50rem;
  }
}
@media only screen and (max-width: 576px) {
  .search-form {
    width: 40rem;
  }
}
@media only screen and (max-width: 420px) {
  .search-form {
    width: 30rem;
  }
}
.search-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #037f2f;
  padding: 0.7rem 1.4rem 0.8rem 1.1rem;
  border: 2px solid #8bc53f;
  border-radius: 0.8rem;
  color: #fff;
}
@media only screen and (max-width: 420px) {
  .search-form__btn {
    display: none;
  }
}
.search-form__btn .dropdown-menu {
  display: none;
}
.search-form__btn::after {
  display: none;
  margin-right: 5px;
}
.search-form__input {
  border: 2px solid #8bc53f;
  border-right: none;
  transition: all 0.2s ease-in;
  flex: 1 1;
}
.search-form__input:focus {
  outline: none;
  box-shadow: none;
  border-color: #0db04b;
}
.search-form__input::placeholder {
  font-size: 1.8rem;
  color: #c8c8c8;
  padding: 7px 7px 2.2rem;
}
@media only screen and (max-width: 420px) {
  .search-form__input {
    border-top-left-radius: 0.8rem !important;
    border-bottom-left-radius: 0.8rem !important;
  }
}
.search-form__search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  background-color: #8bc53f;
  border: none;
  border-radius: 0 0.8rem 0.8rem 0;
  outline: none;
  box-shadow: none;
  transition: all 0.2s ease-in;
}
.search-form__search:hover {
  background-color: #7eb436;
}

.cat-card {
  display: grid;
  place-items: center;
}
.cat-card__img {
  max-width: 15rem;
  margin-inline: auto;
  margin-bottom: 1.9rem;
}
@media only screen and (max-width: 1199px) {
  .cat-card__img {
    max-width: 12rem;
  }
}
@media only screen and (max-width: 567px) {
  .cat-card__img {
    max-width: 10rem;
  }
}
.cat-card__title {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}
@media only screen and (max-width: 1199px) {
  .cat-card__title {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 567px) {
  .cat-card__title {
    font-size: 1.4rem;
  }
}

.cat-slider .slick-list {
  width: 100%;
}
.cat-slider .slick-list .slick-track {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product {
  border-radius: 2.4rem;
  position: relative;
}
.product__discount {
  position: absolute;
  top: 4.1rem;
  left: 0;
  height: 32px;
  display: inline-flex;
  align-items: center;
  padding: 0 1.6rem;
  border-radius: 0 12px 12px 0;
  background-color: #037f2f;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
}
.product__hotel-class {
  position: absolute;
  top: 4.1rem;
  right: 0;
  height: 32px;
  display: inline-flex;
  align-items: center;
  padding: 0 1.6rem;
  border-radius: 12px 0 0 12px;
  background-color: #037f2f;
}
.product__hotel-class svg path {
  fill: #ffa51e;
}

.main {
  background-image: linear-gradient(to right, rgba(3, 127, 47, 0.3), rgba(3, 127, 47, 0.3)), url("../images/home-hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  text-align: center;
  padding-top: 12rem;
  padding-bottom: 6.8rem;
}
@media only screen and (max-width: 1024px) {
  .main {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media only screen and (max-width: 576px) {
  .main {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.main__title {
  font-size: 5.4rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 13px;
}
.main__para {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 8rem;
}

.category {
  padding-top: 3.2rem;
  padding-bottom: 2.4rem;
}
.category__title {
  margin-bottom: 2.4rem;
}

.featured__title {
  margin-bottom: 1.5rem;
}

.header-top {
  padding: 0.3rem 0;
  background-color: #0db04b;
  color: #fff;
  font-size: 1.4rem;
}
.header-top .inner {
  display: flex;
  justify-content: space-between;
}
.header-top__link {
  color: #fff;
  font-size: 1.4rem;
}

.header-searchbar {
  padding: 3px 0;
}
@media only screen and (max-width: 1199px) {
  .header-searchbar__signin span {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .header-searchbar__signin img {
    display: none;
  }
}
.header-searchbar__cart {
  position: relative;
}
.header-searchbar__cart span {
  position: absolute;
  top: -5px;
  left: 50%;
  width: 17px;
  height: 17px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #8bc53f;
  font-size: 9px;
  font-weight: bold;
  color: #fff;
}

.header-menu {
  padding: 3px 0;
  background-color: #333333;
  color: #fff;
}
.header-menu ul,
.header-menu li,
.header-menu a {
  color: #fff;
}
.header-menu__main {
  display: flex;
}
.header-menu__main > :not(:last-child) {
  margin-right: 4.4rem;
}
@media only screen and (max-width: 420px) {
  .header-menu__main > :not(:last-child) {
    margin-right: 2rem;
  }
}
.header-menu__toggler {
  margin-right: 4px;
}
.header-menu__has-sub {
  position: relative;
  display: flex;
  align-items: center;
}
.header-menu__sub {
  z-index: 9;
  position: absolute;
  display: inline-block;
  top: calc(100% + 3px);
  left: 0;
  min-width: 100%;
  padding: 3px 7px;
  border-radius: 0 0 1rem 1rem;
  background-color: #333333;
  font-size: 1.8rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.header-menu__sub li {
  padding: 3px;
}
